[Unit]
Description=USB relay board restAPI
After=network-online.target

[Service]
User=%i
ExecStart=python /home/%i/usbAPI/main.py
WorkingDirectory=/home/%i/usbAPI/
Environment=PYTHONPATH=/home/%i/usbAPI/env/lib/python3.9/site-packages
Restart=on-failure

[Install]
WantedBy=multi-user.target