[Unit]
Description=USB relay board restAPI
After=network-online.target

[Service]
ExecStart=python /$HOME/usbAPI/main.py
WorkingDirectory=/$HOME/usbAPI/
Environment=PYTHONPATH=/$HOME/usbAPI/env/lib/python3.9/site-packages
Restart=on-failure

[Install]
WantedBy=multi-user.target